html
  head
    title= title
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/react.min.js")
    script(src="/javascripts/JSXTransformer.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/app.js" type="text/jsx")
  body
    #content

    script(type='text/javascript').
      var socket = io.connect("http://localhost:8080");
      $('a#submit').on('click', function(){
        socket.emit('message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
